<!--The content below is only a placeholder and can be replaced.-->
<div class="cl-container-wrapper" fxLayout="column" fxLayoutAlign="space-between center" >
  <div class="cl-header" fxFlex="60px" fxLayout="row" fxLayoutAlign="center center">
    <div class="cl-add-button" fxFlex="40px">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
      </button>
    </div>
    <div class="cl-title" fxFlex="100">
      <img src="../../assets/imgs/bravi-logo.svg" height="35px">
    </div>
    <div class="cl-add-button" fxFlex="40px">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="cl-content" fxLayout="column" fxLayoutAlign="space-between center">

    <div class="cl-contact-list" fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
          <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
          <div class="cl-contact-data">
            <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
              <div class="cl-contact-name">Maicon Wagner dos Santos</div>
              <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
            </div>
            <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
              <button mat-icon-button color="warn">
                <mat-icon>phone</mat-icon>
              </button>
              <button mat-icon-button color="accent">
                <mat-icon>chat_bubble</mat-icon>
              </button>
            </div>
          </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/asnt.jpg" height="90" width="90">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center"  >
            <div class="cl-contact-name">Maicon Wagner dos Santos</div>
            <div class="cl-contact-email">mister-x59@hotmail.com.br</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn">
              <mat-icon>phone</mat-icon>
            </button>
            <button mat-icon-button color="accent">
              <mat-icon>chat_bubble</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <!--<div class="cl-footer" fxFlex="65px" >-->
    <!--<mat-toolbar [color]="'primary'"></mat-toolbar>-->
  <!--</div>-->
</div>
