<div class="cl-container-wrapper" fxLayout="column" fxLayoutAlign="space-between center" >
  <div class="cl-header" fxFlex="60px" fxLayout="row" fxLayoutAlign="center center">
    <div class="cl-add-button" fxFlex="40px">
      <button mat-icon-button color="accent" (click)="sortContact()">
        <mat-icon aria-label="Sort Contact">sort</mat-icon>
      </button>
    </div>
    <div class="cl-title" fxFlex="100">
      <img src="../../assets/imgs/bravi-logo.svg" height="35px">
    </div>
    <div class="cl-add-button" fxFlex="40px">
      <button mat-icon-button color="accent" (click)="addContact()">
        <mat-icon aria-label="Add new Contact">add</mat-icon>
      </button>
    </div>
  </div>
  <div class="cl-content" fxLayout="column" fxLayoutAlign="space-between center">
    <!--<div class="cl-search" fxFlex="40px">-->
      <!--<input matInput placeholder="Search">-->
    <!--</div>-->
    <div class="cl-contact-notfound" fxFlex="100" fxLayout="column" fxLayoutAlign="center center"
          *ngIf="(contactsCollection$ | async)?.length === 0">
      No Contacts found
    </div>
    <div  *ngIf="(contactsCollection$ | async)?.length > 0" class="cl-contact-list" fxFlex="100" fxLayout="column" fxLayoutAlign="start stretch">

      <mat-card *ngFor="let contact of contactsCollection$ | async" fxFlex="90px" fxLayout="row" fxLayoutAlign="space-between stretch" >
        <img fxFlex="90px" src="../../assets/imgs/avatar.jpg" height="90" width="90" (click)="updateContact(contact)">
        <div class="cl-contact-data">
          <div class="cl-contact-info"  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px"  (click)="updateContact(contact)">
            <div class="cl-contact-name">{{contact.name}} {{contact.lastName}}</div>
            <div class="cl-contact-email">{{contact.contacts.email}}</div>
            <div class="cl-contact-numerics">{{contact.contacts.phone}} | {{contact.contacts.whatsapp}}</div>
          </div>
          <div class="cl-contact-contacts" fxFlex="80px" fxLayout="row" fxLayoutAlign="center center" >
            <button mat-icon-button color="warn" (click)="removeContact(contact)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</div>
